#canvas {
  width: 800px;
  height: 600px;
}
.iconGo {
  position: relative;
  left: 10px;
  top: -11px;
  float: right;
}

/* .mainTitle {
  position: relative;
  top: 80px;
  left: 100px;
} */
.startText {
  position: relative;
  top: 300px;
  right: 230px;
  float: right;
}
.charGroup {
  position: relative;
  left: 180px;
  top: 60px;
}
#reselectButton {
  position: relative;
  left: 580px;
  top: 50px;
  width: 160px;
}
#selectButton {
  position: relative;
  left: 420px;
  top: 130px;
  width: 160px;
}

#selectButton2 {
  position: relative;
  left: 660px;
  top: 240px;
}

.roomGroup {
  position: relative;
  left: 130px;
  top: 150px;
}
.blueTitle {
  position: relative;
  left: 70px;
  top: 70px;
}
.redTitle {
  position: relative;
  left: 110px;
  top: 70px;
}
.vsTitle {
  position: relative;
  left: 90px;
  top: 70px;
}
.grayEffect {
  filter: grayscale(80%);
}
.blinking {
  animation: blinkingText 1s infinite;
}
@keyframes blinkingText {
  0% {
    color: rgb(202, 238, 0);
  }
  49% {
    color: rgb(220, 250, 48);
  }
  50% {
    color: rgb(233, 255, 107);
  }
  99% {
    color: rgb(242, 255, 168);
  }
  100% {
    color: rgb(255, 255, 255);
  }
}
